.sidenav-right {
  transform: translateX(0);
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  width: 32%;
  z-index: 1000;
  position: fixed;
  overflow: initial;
}

main {
  padding-right: 32%; /* Adjust based on sidenav width */
  padding-right: 0px;
  height: 100%;
  overflow: auto;
}

tbody {
  display: block;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em);
}

table {
  width: 100%;
}

.tabs .tab a {
  color: #cccccc; /* Unselected tab text color */
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #000000; /* Selected tab text color */
}

.tabs .indicator {
  background-color: #000000; /* Indicator color */
}

input[type='radio']:checked + span::after {
  border: 2px solid #000000; /* Custom border color */
  background-color: #000000; /* Custom fill color */
}

input[type='checkbox']:checked + span:not(.lever)::before {
  border-right: 2px solid #000000; /* Custom check color */
  border-bottom: 2px solid #000000; /* Custom check color */
  display: inline-block;
}

.select-dropdown.dropdown-content li > span {
  color: #000000; /* Change this to black */
}

.input-field input[type='text']:focus + label {
  color: black !important; /* Change label color on focus to black */
}

.input-field input[type='text']:focus {
  border-bottom: 1px solid black !important; /* Change bottom border to black */
  box-shadow: 0 1px 0 0 black !important; /* Change box shadow to black */
}

.input-field .prefix.active {
  color: black !important; /* Change prefix icon color to black on focus */
}

/* Smaller font size for input fields */
.input-field input[type='text'] {
  font-size: 13px !important; /* Smaller font size for input text */
}

.input-field label {
  font-size: 12px !important; /* Smaller font size for input labels */
}
